@import "./01-header-left";
@import "./02-header-right";
@import "./03-header-navbar";
#header {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 100vh;
}
.header-first-title {
  position: absolute;
  top: 20px;
  left: 50px;
}
.header-social {
  position: absolute;
  left: -80px;
  top: 50%;
  transform: rotate(90deg);
  & > a {
    margin-right: 15px;
    color: #000026;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 1000px) {
  #header {
    flex-direction: column !important;
    justify-content: flex-start !important;
    padding-top: 100px;
  }
  .header-social {
    bottom: 0;
    top: unset;
    left: unset;
    transform: unset;
    transform: unset;
    background: blue;
    width: 100%;
    text-align: center;
  }
}
