.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1100px;
  padding-left: 80px;
  & > h1 {
    font-size: 45px;
    font-weight: 400;
    position: relative;
  }
  & > h1:nth-child(3) {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 20px;
      background: rgba(72, 48, 230, 0.1);
      bottom: 0;
      left: 0;
    }
  }
}
.header-left-p {
  max-width: 600px;
  margin-top: 25px;
  line-height: 1.4;
  padding-right: 150px;
}

@media only screen and (max-width: 1000px) {
  .header-left {
    align-items: center;
    padding-left: unset;
    padding: 0 50px;
    margin-bottom: 100px;
    & > h1 {
      width: 100%;
    }
  }
  .header-left-p {
    max-width: unset;
    padding-right: unset;
    margin-bottom: 50px;
  }
}
