.header-right {
  background: #4830e6;
  width: 30%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: headerFirst 0.5s ease forwards;
  transform-origin: 100% 0;
}
@keyframes headerFirst {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.header-right-image-div {
  height: 600px;
  width: 400px;
  max-height: 40vw;
  left: -30%;
  position: relative;
  animation: headerSecond 0.5s ease forwards 0.4s;
  transform: scaleX(0);
  transform-origin: 100% 0;
}
@keyframes headerSecond {
  to {
    transform: scaleX(1);
  }
}

@media only screen and (max-width: 1000px) {
  .header-right {
    width: 100%;
    justify-content: center;
    height: auto;
    background: unset;
  }
  .header-right-image-div {
    left: unset;
    max-height: 70vw;
    width: 50%;
  }
}

.inside-image-div {
  height: 100%;
  width: 100%;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
.header-right-layout {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: lightgoldenrodyellow;
  display: grid;
  grid-template-columns: repeat(4, 5px);
  grid-template-rows: repeat(auto-fill, 5px);
  grid-gap: 15px;
  transform-origin: 0 100%;
  animation: headerThird 1s ease forwards 0.8s;
  transform: scaleX(1);
}
@keyframes headerThird {
  to {
    transform: scaleX(0);
  }
}
.header-dots {
  position: absolute;
  top: 30%;
  left: -17%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: -25%;
    top: -15%;
  }
}
